@using YMart.ViewModels.Product;

@model IEnumerable<BasicProductViewModel>

@{
    ViewData["Title"] = "Products List";
}

<style>
    .Top-Text{
        margin:20px;
    }

</style>

<div class="Top-Text">
    <h2>@ViewData["Title"]</h2>
</div>
<hr />

