@using YMart.ViewModels.Brochure;
@model IEnumerable<AddBrochureViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to YMart</h1>
    @foreach(var Brochure in Model)
    {
        <a href="@Url.Action("Index", "Product", new { productNames = Brochure.ProductNames })">
            <img src="@Brochure.ImageURL" alt="Brochure Image" />
        </a>
    }
</div>
