@{
    ViewData["Title"] = "Not Signed In";
}

<style>
    .Top{
        display:flex;
        justify-content:center;
        padding-top:20px;
    }

    .text-center{
        display:flex;
        flex-direction:column;
        justify-content: center;
        gap:1em;
    }

    .User-Buttons{
        padding:2em 1.5em 2em 1.5em;
        background:lightblue; 
        width:30%;
        margin:0 auto;
        border-radius:0.3em;
        text-decoration:none;
    }

    body {
        background-image: url('/images/stylized_white_2.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

</style>

<div class="Top">
    <h2>@ViewData["Title"]</h2>
</div>

<div class="text-center">
    <h1 class="display-4">You must be signed in to buy products or add them to your Cart</h1>
    <a class="User-Buttons" asp-area="Identity" asp-page="/Account/Login">Sign in</a>
    <a class="User-Buttons" asp-area="Identity" asp-page="/Account/Register">Register</a>
</div>

